<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <title>Express Livres</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
        crossorigin="anonymous">
    <link rel="stylesheet" href="../public/style.css">
</head>

<body>
    <div class="central">

        <% include ./partials/header %>
        
            <div class="container">
                <br>
                <h2 class="text-center">Express Livre : Le site pour les bibliophiles ! </h2>
                <br>
                <div class="container__home">
                    <% for(livres of livres) {%>
                        <div class="card container__home-img" style="width: 18rem;">
                            <img class="card-img-top" src="<%=livres.livrecouv%>" alt="Card image cap">
                            <div class="card-body container__livre">
                                <h3 class="card-title">
                                    <%=livres.livretitle%>
                                </h3>
                                <h5 class="card-title">
                                    <%=livres.livreauteur%>
                                </h5>
                                <p class="card-text">
                                    <%= livres.livredescription %>
                                </p>
                                <a href="/livres-info/<%=livres._id%>" class="btn btn-primary">
                                    <%=livres.livreprix%> €</a>
                            </div>
                        </div>
                        <% } %>
                </div>


            </div>





            <% include ./partials/footer %>

</body>

<!-- <script>
        const form = document.querySelector("form");
        form.addEventListener("submit", addLivre);

        function addLivre(event) {
            event.preventDefault();

            if (fetch) {
                fetch("/livres", {
                        method: "POST",
                        body: new FormData(form)
                    })
                    .then(checkStatus)
                    .catch(function (error) {
                        console.error("request failed", error);
                    })
            } else {
                //jQuery, WHR
            }
        }

        function checkStatus(response) {
            if (response.status >= 200 && response.status < 300) {
                let newLivreDiv = document.createElement("div");

                const livretitle = document.getElementById("livretitle").value;
                const livrecouverture = document.getElementById("livrecouverture").value;
                const livreauteur = document.getElementById("livreauteur").value;
                const livreyear = document.getElementById("livreyear").value;
                const livredescription = document.getElementById("livredescription").value;

                newLivreDiv.innerHTML = `${livretitle} ${livrecouverture} ${livreauteur} ${livreyear}, ${livredescription}`;
                document.querySelector('.french-livres').appendChild(newLivreDiv);
                form.reset();

            }
        }
    </script> -->

</html> 
<!-- <div class="container">
                <h2>Express Livre : Le site pour les bibliophiles ! </h2>
                <div>
                    La page d'accueil
                </div>
                <div class="container">
                        <div class="french-livres">
                                    <div class="french-livres__container">
                                        <h3 class="french-livres__container__p">
                                            <%= livres.livretitle %>
                                        </h3>
            
                                        <img class="french-livres__container__img" src="<%= livres.livrecouv %>" alt="">
            
                                        <h4 class="french-livres__container__p">
                                            <%= livres.livreauteur %>
                                                </p>
            
                                                <h4 class="french-livres__container__p">
                                                    <%= livres.livreyear %>
                                                        </p>
            
                                                        <p class="french-livres__container__p">
                                                            <%= livres.livredescription %>
                                                        </p>
                                                        <p class="french-livres__container__p">
                                                            <%= livres.livreprix %> €
                                                        </>
                                    </div>
                            </div>
            
                        </div>
                </div>

            
    </div> -->